@model ErrorViewModel

@{
    ViewBag.Title = "Sorry, there is a problem with the service";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Sorry, there is a problem with the service
                <span class="govuk-caption-xl">Try again later.</span>
            </h1>

            <p class="govuk-body">Contact us if you have any questions.</p>
            <p class="govuk-body">
                Telephone: 08000 150 600<br/>
                Email: <a href="mailto:nationalhelpdesk@apprenticeships.gov.uk">nationalhelpdesk@apprenticeships.gov.uk</a>
            </p>
        </div>
    </div>
</main>