@model ErrorViewModel

@{
    ViewBag.Title = "Sorry, there is a problem with the service";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
            
            <p class="govuk-body">Try again later.</p>
            
            <p class="govuk-body">Contact to xxx if you have any questions.</p>
            <p class="govuk-body">Telephone:</p>
            <p class="govuk-body">[phone number]</p>
            <p class="govuk-body">Opening times:</p>
            <p class="govuk-body">[Day] to [day]: xam to xpm</p>
            <p class="govuk-body">Closed [days closed, e.g. Christmas Day]</p>
        </div>
    </div>
</main>