@{
    ViewBag.Title = "Feedback completed";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Thank you
            </h1>

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Feedback completed
                </h1>

                <div class="govuk-panel__body">
                    We have sent you a confirmation email
                </div>
            </div>
            <p></p>
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                Your feedback will be used to shape ASK activities in the future. You may be contacted to discuss some of your answers in more detail.
            </p>
            <p class="govuk-body">
                You can return to the <a href="https://fire-it-up-v18.herokuapp.com/campaign/hub-careers-advisers-V1" class="govuk-link--no-visited-state">Careers advice hub</a> to find apprenticeship resources and information for teachers and careers advisers.
            </p>
        </div>
    </div>
</main>
