@model SFA.DAS.ASK.Web.ViewModels.DeliveryPartner.PlanningMeetings.CheckAnswersViewModel
@{
    ViewData["Title"] = "CheckAnswers";
}


<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Check the details
            </h1>

            <h2 class="govuk-heading-m">Organisation details</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Name </dt>
                    <dd class="govuk-summary-list__value"> @Model.OrganisationName </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link">Change</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Address </dt>
                    <dd class="govuk-summary-list__value"> </dd>
                    <dd class="govuk-summary-list__actions"> <a class="govuk-link">Change</a></dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m">Meeting details</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Date and time </dt>
                    <dd class="govuk-summary-list__value"> @Model.OrganisationName </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link">Change</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> How will the meeting be held? </dt>
                    <dd class="govuk-summary-list__value"> </dd>
                    <dd class="govuk-summary-list__actions"> <a class="govuk-link">Change</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Organisation contact </dt>
                    <dd class="govuk-summary-list__value"> @Model.OrganisationName </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link">Change</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Delivery partner contact </dt>
                    <dd class="govuk-summary-list__value"> </dd>
                    <dd class="govuk-summary-list__actions"> <a class="govuk-link">Change</a></dd>
                </div>
            </dl>

            <form method="post" asp-action="Index" asp>
                <button id="continueButton" class="govuk-button" data-module="govuk-button" type="submit">
                    Continue
                </button>
                <a id="cancelLink"class="das-button--link">Cancel</a>
            </form>
            <partial name="_DifficultiesFooter" />
        </div>
    </div>
</main>