@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.ApplicationCompleteViewModel

@{
    ViewBag.Title = "Application complete";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Thank you
            </h1>

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Application complete
                </h1>

                <div class="govuk-panel__body">
                    We have sent you a confirmation email
                </div>
            </div>
            <p></p>
            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                A local ASK delivery partner will get in touch with you. They’ll set up a planning meeting to discuss
                your needs and choose the most suitable support options available through the ASK programme.
            </p>
            <p class="govuk-body">
                In the meantime, you can return to the
                <a href="https://fire-it-up-v18.herokuapp.com/campaign/hub-careers-advisers" class="govuk-link--no-visited-state">Careers advice hub</a>
                to find apprenticeship resources and information for teachers and careers advisers.
            </p>
            <p class="govuk-body">
                <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
            </p>
        </div>
    </div>
</main>