@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.ApplicationCompleteViewModel

@{
    ViewBag.Title = "TODO: Application Complete";
}


<h1>Thank you @Model.Email</h1>
<h2>Request support</h2>

<h3>Application complete</h3>
<p>We have sent you a confirmation email</p>

<p>What happens next?</p>
<p>We can take you back to the Careers advice page to gain valuable resources and guidance while we process your request.</p>
<p>What did you think of this service? (takes 30 seconds)</p>