@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.OrganisationAddressViewModel

@{
    ViewBag.Title = "TODO: ORGANISATION ADDRESS";
}

<a asp-action="Index" asp-controller="OrganisationDetails" asp-route-requestId="@Model.RequestId" class="govuk-back-link">Back</a>


<h1 class="govuk-heading-xl">
    Organisation address
    <span class="govuk-caption-xl">Section 3 of 4</span>
</h1>

<div asp-validation-summary="All"></div>
<form method="post">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                What is the address of your organisation?
            </h1>
        </legend>
        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="BuildingAndStreet1">
                Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" asp-for="BuildingAndStreet1" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="BuildingAndStreet2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" asp-for="BuildingAndStreet2" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="TownOrCity">
                Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" asp-for="TownOrCity" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="County">
                County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" asp-for="County" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="Postcode">
                Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" asp-for="Postcode" type="text">
        </div>
    </fieldset>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        Next
    </button>
</form>


<p>If you experience any difficulties in completing the form, please call for assistance on <a href="#">01462 341191</a>.</p>