@model SFA.DAS.ASK.Web.Controllers.RequestSupport.OrganisationSearchViewModel

@{
    ViewBag.Title = "Other details";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Organisation Search
                <span class="govuk-caption-xl">
                    Section 3 of 4
                </span>
            </h1>

            <form method="post" asp-action="Index" asp-controller="OtherDetails" asp-route-requestId="@Model.RequestId">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="event-name">
                    Search for your organisation
                  </label>
                  <input class="govuk-input" id="event-name" name="event-name" type="text">
                </div>

                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Search
                </button>
                <a asp-action="Index" asp-controller="Home" class="govuk-link das-link--button-aligned">Cancel</a>
               
            </form>
        </div>
    </div>
</main>