@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.OrganisationDetailsViewModel

@{
    ViewBag.Title = "TODO: TITLE ORGANISATION DETAILS";
}


<a asp-action="Index" asp-controller="YourDetails" asp-route-requestId="@Model.RequestId">Back</a>


<h1>Organisation details</h1>
<h2>Section 2 of 4</h2>

<div asp-validation-summary="All"></div>

<form method="post">
    <p>Organisation type</p>
    
    
    <input type="radio" asp-for="SelectedOrganisationType" id="organisationType_school" value="1"/>
    <label for="organisationType_school">School</label>
    
    <input type="radio" asp-for="SelectedOrganisationType" id="organisationType_lep" value="2"/>
    <label for="organisationType_lep">Local Enterprise Partnership (LEP)</label>
    
    <input type="radio" asp-for="SelectedOrganisationType" id="organisationType_localauthority" value="3"/>
    <label for="organisationType_localauthority">Local Authority or Council</label>
    
    <input type="radio" asp-for="SelectedOrganisationType" id="organisationType_emb" value="4"/>
    <label for="organisationType_emb">Employer membership body</label>
    
    <input type="radio" asp-for="SelectedOrganisationType" id="organisationType_careersservice" value="5"/>
    <label for="organisationType_careersservice">Careers Service</label>
    
    <input type="radio" asp-for="SelectedOrganisationType" id="organisationType_other" value="6"/>
    <label for="organisationType_other">Other</label>
    
    <label for="organisationType_other_details">Please specify</label>
    <input type="text" asp-for="Other" id="organisationType_other_details"/>

    <button type="submit">Next</button>
</form>


<p>If you experience any difficulties in completing the form, please call for assistance on <a href="#">01462 341191</a>.</p>