@using SFA.DAS.ASK.Data.Entities
@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.OtherDetailsViewModel

@{
    ViewBag.Title = "Other details";
}
@* *@
@* @if (Model.NonSignedIn) *@
@* { *@
@*     <a asp-action="Index" asp-controller="OrganisationAddress" asp-route-requestId="@Model.RequestId" class="govuk-back-link">Back</a> *@
@* } *@
@* else *@
@* { *@
<a asp-action="Index" asp-controller="CheckYourDetails" asp-route-requestId="@Model.RequestId" class="govuk-back-link">Back</a>
@* } *@

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ErrorSummary"/>


            <h1 class="govuk-heading-xl">
                Submit your request
            </h1>

            <p>After you’ve submitted your request, a local ASK delivery partner will get in touch with you. They’ll set up a planning meeting to discuss your needs and choose the most suitable support options available through the ASK programme.</p>

            <form method="post" asp-action="Index" asp-controller="OtherDetails" asp-route-requestId="@Model.RequestId">
                <input type="hidden" asp-for="SupportRequestType"/>

                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        <label class="govuk-heading-s no-bottom-margin" asp-for="AdditionalComments">Do you have any more details to share?</label>
                        <span id="additonal-comments-hint" class="govuk-hint">For example, the type of support you’re looking for or the approximate date.</span>
                        <textarea class="govuk-textarea" asp-for="AdditionalComments" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>

                    @if (Model.SupportRequestType == SupportRequestType.Manual)
                    {
                        <div class="govuk-form-group" sfa-gds-error-class-for="Agree">
                            <div class="govuk-checkboxes__item">
                                <span sfa-gds-error-message-for="Agree"></span>
                                <input class="govuk-checkboxes__input" asp-for="Agree" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" asp-for="Agree">
                                    I have read and understand the Privacy and Cookies Policy and agree to receive communications from Amazing Apprenticeships, funded by the Department for Education, by email.
                                </label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="Agree"/>
                    }
                </fieldset>

                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Request support
                </button>
                <a asp-action="Index" asp-controller="CancelSupportRequest" asp-route-requestId="@Model.RequestId" asp-route-returnAction="Index" asp-route-returnController="OtherDetails" class="das-button--link">Cancel</a>


                @* <p class="govuk-hint"> *@
                @*     Your school will be required to have a planning meeting so that we can explain the full range of support available through the *@
                @*     ASK programme, funded by the Department for Education. This will be arranged by your local ASK partner. *@
                @* </p> *@
            </form>
        </div>
    </div>
</main>