@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.SchoolDetailsViewModel

@{
    ViewBag.Title = "TODO: SCHOOL DETAILS";
}

<a asp-action="Index" asp-controller="OrganisationDetails" asp-route-requestId="@Model.RequestId" class="govuk-back-link">Back</a>


<h1 class="govuk-heading-xl">
    School details
    <span class="govuk-caption-xl">Section 3 of 4</span>
</h1>

<div asp-validation-summary="All"></div>
<form method="post">
    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="County">
                County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" asp-for="County" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="SchoolName">
                School name
            </label>
            <input class="govuk-input govuk-input--width-10" asp-for="SchoolName" type="text">
        </div>
    </fieldset>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        Next
    </button>
</form>


<p>If you experience any difficulties in completing the form, please call for assistance on <a href="#">01462 341191</a>.</p>