@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.SelectOrganisationViewModel

@{
    ViewBag.Title = "Select organisation";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Select organisation
                <span class="govuk-caption-xl"></span>
            </h1>

            <partial name="_ErrorSummary"/>
            
            <form method="post" asp-action="Index" asp-controller="SelectOrganisation" asp-route-requestId="@Model.RequestId">
                <input type="hidden" asp-for="RequestId"/>
                <div class="govuk-form-group" sfa-gds-error-class-for="SelectedUrn">
                    <fieldset class="govuk-fieldset">
                        <h1 class="govuk-fieldset__heading">
                            Select your Organisation
                        </h1>

                        <span sfa-gds-error-message-for="SelectedUrn"></span>

                        <div class="govuk-radios">
                            @foreach (var org in Model.Organisations)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="where-do-you-live" asp-for="SelectedUrn" type="radio" value="@org.Key">
                                    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                        @org.Value
                                    </label>
                                </div>
                            }

                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Next
                </button>
                <a asp-action="Index" asp-controller="CancelSupportRequest" asp-route-requestId="@Model.RequestId" asp-route-returnAction="Index" asp-route-returnController="SelectOrganisation" class="das-button--link">Cancel</a>
            </form>

        </div>
    </div>
</main>