@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.YourDetailsViewModel

@{
    ViewBag.Title = "TODO: TITLE YOUR DETAILS";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="HasSignIn">Back</a>

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_ErrorSummary" />

            <h1 class="govuk-heading-xl">
                Your details
            </h1>

            <form method="post">
                <div class="govuk-form-group">

                    <div class="govuk-form-group" sfa-gds-error-class-for="FirstName">
                        <label class="govuk-label" asp-for="FirstName">First name</label>
                        <span sfa-gds-error-message-for="FirstName"></span>
                        <input class="govuk-input" type="text" asp-for="FirstName" />
                    </div>

                    <div class="govuk-form-group" sfa-gds-error-class-for="LastName">
                        <label class="govuk-label" asp-for="LastName">Last name</label>
                        <span sfa-gds-error-message-for="LastName"></span>
                        <input class="govuk-input" type="text" asp-for="LastName" />
                    </div>

                    <div class="govuk-form-group" sfa-gds-error-class-for="JobRole">
                        <label class="govuk-label" asp-for="JobRole">Your job role</label>
                        <span sfa-gds-error-message-for="JobRole"></span>
                        <input class="govuk-input" type="text" asp-for="JobRole" />
                    </div>


                    <div class="govuk-form-group" sfa-gds-error-class-for="PhoneNumber">
                        <label class="govuk-label" asp-for="PhoneNumber">Phone number</label>
                        <span sfa-gds-error-message-for="PhoneNumber"></span>
                        <input class="govuk-input" type="text" asp-for="PhoneNumber" />
                    </div>

                    <div class="govuk-form-group" sfa-gds-error-class-for="Email">
                        <label class="govuk-label" asp-for="Email">Email address</label>
                        <span sfa-gds-error-message-for="Email"></span>
                        <input class="govuk-input" type="text" asp-for="Email" />
                    </div>


                    <div class="govuk-form-group" sfa-gds-error-class-for="ConfirmEmail">
                        <label class="govuk-label" asp-for="ConfirmEmail">Confirm email address</label>
                        <span sfa-gds-error-message-for="ConfirmEmail"></span>
                        <input class="govuk-input" type="text" asp-for="ConfirmEmail" />
                    </div>

                </div>

                <button id="continueButton" class="govuk-button" type="submit">Continue</button>
                <a asp-action="Index" asp-controller="CancelSupportRequest" asp-route-requestId="@Model.RequestId" asp-route-returnAction="Index" asp-route-returnController="OtherDetails" class="das-button--link">Cancel</a>
                
            </form>

            <partial name="_DifficultiesFooter"/>

        </div>
    </div>
</main>


