@model SFA.DAS.ASK.Web.ViewModels.RequestSupport.YourDetailsViewModel

@{
    ViewBag.Title = "TODO: TITLE YOUR DETAILS";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="HasSignIn">Back</a>

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_ErrorSummary" />

            <h1 class="govuk-heading-xl">
                Your details
            </h1>

            <form method="post">
                <div class="govuk-form-group">

                    <div class="govuk-form-group" sfa-gds-error-class-for="FirstName">
                        <label class="govuk-label" asp-for="FirstName">First name</label>
                        <span id="first-name-error" sfa-gds-error-message-for="FirstName"></span>
                        <input class="govuk-input" type="text" asp-for="FirstName" aria-describedby="first-name-error"/>
                    </div>

                    <div class="govuk-form-group" sfa-gds-error-class-for="LastName">
                        <label class="govuk-label" asp-for="LastName">Last name</label>
                        <span id="last-name-error" sfa-gds-error-message-for="LastName"></span>
                        <input class="govuk-input" type="text" asp-for="LastName" aria-describedby="last-name-error" />
                    </div>

                    <div class="govuk-form-group" sfa-gds-error-class-for="JobRole">
                        <label class="govuk-label" asp-for="JobRole">Your job role</label>
                        <span id="job-role-error" sfa-gds-error-message-for="JobRole"></span>
                        <input class="govuk-input" type="text" asp-for="JobRole"aria-describedby="job-role-error" />
                    </div>


                    <div class="govuk-form-group" sfa-gds-error-class-for="PhoneNumber">
                        <label class="govuk-label" asp-for="PhoneNumber">Phone number</label>
                        <span id="phone-number-error" sfa-gds-error-message-for="PhoneNumber"></span>
                        <input class="govuk-input" type="text" asp-for="PhoneNumber" aria-describedby="phone-number-error"/>
                    </div>

                    <div class="govuk-form-group" sfa-gds-error-class-for="Email">
                        <label class="govuk-label" asp-for="Email">Email address</label>
                        <span id="email-error" sfa-gds-error-message-for="Email"></span>
                        <input class="govuk-input" type="text" asp-for="Email" aria-describedby="email-error"/>
                    </div>


                    <div class="govuk-form-group" sfa-gds-error-class-for="ConfirmEmail">
                        <label class="govuk-label" asp-for="ConfirmEmail">Confirm email address</label>
                        <span id="confirm-email-error" sfa-gds-error-message-for="ConfirmEmail"></span>
                        <input class="govuk-input" type="text" asp-for="ConfirmEmail" aria-describedby="confirm-email-error" />
                    </div>

                </div>

                <button id="continueButton" class="govuk-button" type="submit">Continue</button>
                <a asp-action="Index" asp-controller="CancelSupportRequest" asp-route-requestId="@Model.RequestId" asp-route-returnAction="Index" asp-route-returnController="YourDetails" class="das-button--link">Cancel</a>
                
            </form>

            <partial name="_DifficultiesFooter"/>

        </div>
    </div>
</main>


